NODE_ENV=Dev

# Replace <db_password> with the password for the <db_username> database user. 
MONGO_URI=mongodb+srv://<db_username>:<db_password>@node-test.ggxki.mongodb.net/?retryWrites=true&w=majority&appName=node-test